{% extends "_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}
{% trans "password reset" %}
{% endblock title %}
{% block content %}
<div class="main-content-wrapper">
    <div class="page-content-inner pt--75 pb--80">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-sm--50">
                    <div class="login-box">
                        <form class="form form--signup" action="" method="POST">
                            {% csrf_token %}
                            {{form|crispy}}
                            <div class="form__group">
                                <button class="btn btn-small btn-bg-red btn-color-white btn-hover-2" type="submit">{% trans "Log in" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}