{% extends "_base.html" %}
{% load i18n %}

{% block title %}
{% trans "password reset" %}
{% endblock title %}

{% block content %}
<div class="main-content-wrapper">
    <div class="page-content-inner pt--75 pb--80">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-sm--50">
                    <div class="login-box">
                        <h1>{% trans "Reset password" %}</h1>
                        <form action="" method = "post">
                            <div class="form__group mb--20">
                                <label class="form__label form__label--2" for="login_email">ایمیل شما <span class="required">*</span></label>
                                <input type="text" class="form__input form__input--2" id="login_email" name="email">
                            </div>
                            {% csrf_token %}
                            <br>
                            <button class="btn btn-small btn-bg-red btn-color-white btn-hover-2" type="submit">{% trans "Submit" %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}